@model List<Endereco>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Lista de Endereços</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Endereco" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Cadastrar Novo Endereço
                </a>
            </div>
        </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Cod Cliente
                    </th>
                    <th>
                        Logradouro
                    </th>
                    <th>
                        Numero
                    </th>
                    <th>
                        Complemento
                    </th>
                    <th>
                        Bairro
                    </th>
                    <th>
                        Estado
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.OrderBy(u => u.ClienteId))
                {
                    <tr>
                        <td>
                            @obj.ClienteId
                        </td>
                        <td>
                            @obj.Logradouro
                        </td>
                        <td>
                            @obj.Numero
                        </td>
                        <td>
                            @obj.Complemento
                        </td>
                        <td>
                            @obj.Bairro
                        </td>
                        <td>
                            @obj.Estado
                        </td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Endereco" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                                    <i class="bi bi-pencil-square"></i> Alterar
                                </a>
                                <a asp-controller="Endereco" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                                    <i class="bi bi-trash-fill"></i> Excluir
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

